asgiref==3.5.2
astroid==2.12.13
colorama==0.4.6
dill==0.3.6
Django==4.1.4
isort==5.10.1
lazy-object-proxy==1.8.0
mccabe==0.7.0
mysqlclient==2.1.1
platformdirs==2.6.0
pylint==2.15.8
sqlparse==0.4.3
tomli==2.0.1
tomlkit==0.11.6
tzdata==2022.7
wrapt==1.14.1
