<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}

        <br><br>
        
            Are you sure you want to delete "{{ employee.emp_name }}"?
        
        
        <p>
            <a href="{% url 'employees-list' %}">  Go back</a>
        </p>

        <p>
            <input  type="submit" value="Confirm">
        </p>
    </form>
</body>
</html>