<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>emp_list</title>
</head>
<body>
    <table border="2">
        <thead>
            <tr>
                <th>Id</th>
                <th >Name</th>
                <th >Email</th>
                <th >Contact</th>
                <th >Role</th>
                <th >Salary</th>
                <th >Action</th>
            </tr>
        </thead>
        <tbody>
            {% for emp in employees %}
                <tr>
                    <td>{{ emp.emp_id }}</td>
                    <td>{{ emp.emp_name }}</td>
                    <td>{{ emp.emp_email }}</td>
                    <td>{{ emp.emp_contact }}</td>
                    <td>{{ emp.emp_role }}</td>
                    <td>{{ emp.emp_salary }}</td>
                    <td>
                        <a href="{% url 'edit-employee' emp.pk %}">Edit</a>
                        
                        <a href="{% url 'delete-employee' emp.pk %}">Remove</a>
                    </td>
                </tr>
            {% endfor %}
            
        </tbody>
    </table>
    <a href="{% url 'create-employee' %}">create-employee</a>
</body>
</html>